@tailwind base;
@tailwind components;
@tailwind utilities;

.toolbar {
    display: flex;
    margin-bottom: 10px;
}
.toolbar button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}
